$white: rgb(240, 240, 240);
$grey: rgb(200, 200, 200);
$black: rgb(12, 12, 12);
$darker-black: rgb(10, 10, 10);

#home-intro-container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;

  h1
  {
    font-size: 2.5em;
    margin: 0;
  }

  p
  {
    font-size: 1em;
    font-weight: 200;
  }
}

#home-sections
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home-image
  {
    max-width: 300px;
  }
}