:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background: -moz-linear-gradient(rgba(5, 5, 5, 1), rgba(5, 5, 5, 0.8)), url(./assets/photos/background.jpg);
}
